        <footer>
          <div class="layout">
            <div class="copyright"><a href="{{ site.baseurl }}/" title="{{ site.name }}">© {{ site.name }}, {{ 'now' | date: "%Y" }}</a></div>
            
            <div class="reviews">Оставить отзыв:
              <a href="https://tambov.flamp.ru/firm/magazin_tkanejj-70000001007453691" target="_blank"><img src="/images/flamp.png" alt="Flamp"></a>
            </div>
            
            <div class="developer"><a href="https://vk.com/dashadesigner" target="_blank">Разработка</a></div>
          </div><!-- .layout -->
        </footer>
