<!DOCTYPE html>
<html lang="ru">

{% include head1.html %}

  <body class="home">

    <div class="wrapper">
      <div class="container">
                
        <header data-enllax-ratio="0.5">
          <div class="layout">

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/" title="{{ site.name }}">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
            </div><!-- .site-info --> 

            <div class="mode-box">

              <dl>
                <dt>Мы находимся:</dt>
                <dd>в магазине <strong>“Тамбовский Арбат”</strong></dd>
              </dl>

              <dl>
                <dt>По адресу:</dt>
                <dd>{{ site.address }}</dd>
              </dl>

              <dl>
                <dt>Режим работы:</dt>
                <dd>10&nbsp;-&nbsp;17&nbsp;(понед.)<br>09&nbsp;-&nbsp;18&nbsp;(вт&nbsp;-&nbsp;пт)<br>09&nbsp;-&nbsp;17&nbsp;(сб&nbsp;-&nbsp;вс)</dd>
              </dl>

            </div><!-- .mode-box -->

          </div><!-- .layout -->
        </header>

		<div id="main" role="main" class="container">

			{{ content }}

		</div>              
        
          
        {% include footer.html %}
        {% include analytics.html %}
        {% include scripts.html %}
      
      </div><!-- .container -->
    </div><!-- .wrapper -->   
    
  </body>
</html>
